<% provide(:title, "About") %>

<section class="container-fluid bg-3 text-center mb-5 mt-5 pb-5">
  <div class="row">
    <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
        <figure class="rounded p-3 bg-white shadow-sm">
          <%= image_tag("greg.png", class: "img-fluid img card-img-top") %>
              <figcaption class="p-4 card-img-bottom">
                <h2 class="h5 font-weight-bold mb-2 font-italic">Greg Wientjes</h2>
                <p class="mb-0 text-small text-muted font-italic">CEO-Founder</p>
                <p class="mb-0 text-small text-muted font-italic">PhD, MS and BS, all from Stanford University.</p>
              </figcaption>
        </figure>
      </div>
    <div class="col-12 col-md-8">
      <div class="bg-white rounded shadow-sm py-5 px-4 mr-4 ml-4">
        <h1 class="mb-4">About SUpost</h1>
        <p class="text-justify"> Welcome to SUpost. I built SUpost to enable Stanford students and staff to buy and sell their stuff. 
      SUpost requires an @stanford.edu email in order to post. So, you can be sure that all items posted on SUpost are from people affiliated with Stanford. 
      (The only exception to this email restriction is in the off-campus jobs section, in which anyone can post a job for a fee -- to help us cover the costs of operation.)
        <p class="text-justify">SUpost is the #1 marketplace at Stanford! SUpost gets over 1,000,000 page views per month from Stanford students, alumni, staff and faculty. 
      Need to find housing? Check out the SUpost housing listings. Got something to sell? Post it! Looking to sublet your apartment? Post it! Need a bike for your ride to class through campus? Post it! Post it! 
      Tell everyone you know at Stanford to post one item they want to sell on SUpost, and watch this site continue to be an incredibly useful resource at Stanford. </p>
        </p>
        <p class="text-justify">Greg Wientjes</p>
      </div>
    </div>
  </div>
</section>
 <hr class="mr-5 ml-5 pb-5">
    <section>
        <div class="container pb-5 pt-5 pl-5">
            <div class="row justify-content-center text-center mb-5">
                <div class="col-5">
                    <h1 class="h1 heading">Why SUpost?</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                    <span class="fas fa-cube fa-3x mb-4"></span>
                    <h4 class="h4 mb-2">Web Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
                </div>
                 <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                    <span class="fas fa-mobile fa-3x mb-4"></span>
                    <h4 class="h4 mb-2">Mobile Application</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
                </div>
                 <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                    <span class="fas fa-image fa-3x mb-4"></span>
                    <h4 class="h4 mb-2">Graphic Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
                </div>
                 <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                    <span class="fas fa-search fa-3x mb-4"></span>
                    <h4 class="h4 mb-2">Search Engine Opt</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
                </div>
            </div>
        </div>
    </section>
    <hr class="mr-5 ml-5 pb-5">
<section class="container-fluid bg-3 text-center mb-5 mt-5 ">
<h1 class="mr-4 ml-4 mb-5">The SUpost Team</h1>
<div class="row mr-2 ml-2">
    <div class="col-lg-6 mb-4 pb-5">
        <%= image_tag("man1.jpeg", class: "rounded-circle") %>
        <h2 class="pt-2">Greg Wientjes</h2>
        <p>CEO-Founder </p>
            <div>
                <ul class="mr-5">
                <li class="list-inline-item">
                    <a href="#" class="social-link d-flex justify-content-center">
                    <span class="fab fa-facebook-f"></span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="social-link d-flex justify-content-center">
                    <span class="fab fa-twitter"></span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="social-link d-flex justify-content-center">
                    <span class="fab fa-instagram"></span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="social-link d-flex justify-content-center">
                    <span class="fab fa-linkedin-in"></span>
                    </a>
                </li>
            </ul>
            </div>  
        <p class="text-justify pr-5 pl-5">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
        Cras mattis consectetur purus sit amet fermentum. 
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        <p>
            <a class="btn btn-info" href="#" role="button">View Details</a> 
        </p>
    </div>
    <div class="col-lg-6 mb-4 pb-5">
        <%= image_tag("woman.png", class: "rounded-circle") %>
        <h2 class="pt-2">Shannie Manangan</h2>
        <p>Virtual Assistant</p>
            <div>
                <ul class="mr-5">
                <li class="list-inline-item">
                    <a href="#" class="social-link d-flex justify-content-center">
                    <span class="fab fa-facebook-f"></span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="social-link d-flex justify-content-center">
                    <span class="fab fa-twitter"></span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="social-link d-flex justify-content-center">
                    <span class="fab fa-instagram"></span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="social-link d-flex justify-content-center">
                    <span class="fab fa-linkedin-in"></span>
                    </a>
                </li>
            </ul>
            </div> 
        <p class="text-justify pr-5 pl-5">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
        Cras mattis consectetur purus sit amet fermentum. 
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        <p>
            <a class="btn btn-info" href="#" role="button">View Details</a> 
        </p>
    </div>
    <div class="col-lg-6 mb-4 pb-5">
        <%= image_tag("man.png", class: "rounded-circle") %> 
        <h2 class="pt-2">Dale Ryan Aldover</h2>
        <p>Software Developer</p>
            <div>
                <ul class="mr-5">
                <li class="list-inline-item">
                    <a href="#" class="social-link d-flex justify-content-center">
                    <span class="fab fa-facebook-f"></span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="social-link d-flex justify-content-center">
                    <span class="fab fa-twitter"></span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="social-link d-flex justify-content-center">
                    <span class="fab fa-instagram"></span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="social-link d-flex justify-content-center">
                    <span class="fab fa-linkedin-in"></span>
                    </a>
                </li>
            </ul>
            </div> 
        <p class="text-justify pr-5 pl-5">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
        Cras mattis consectetur purus sit amet fermentum. 
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        <p>
            <a class="btn btn-info" href="#" role="button">View Details</a> 
        </p>
    </div>
    <div class="col-lg-6 mb-4 pb-5">
        <%= image_tag("man3.png", class: "rounded-circle") %>
        <h2 class="pt-2">Jhonnierick Gruba</h2>
        <p>Software Developer</p>
            <div>
                <ul class="mr-5">
                <li class="list-inline-item">
                    <a href="#" class="social-link d-flex justify-content-center">
                    <span class="fab fa-facebook-f"></span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="social-link d-flex justify-content-center">
                    <span class="fab fa-twitter"></span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="social-link d-flex justify-content-center">
                    <span class="fab fa-instagram"></span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="social-link d-flex justify-content-center">
                    <span class="fab fa-linkedin-in"></span>
                    </a>
                </li>
            </ul>
            </div> 
        <p class="text-justify pr-5 pl-5">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
        Cras mattis consectetur purus sit amet fermentum. 
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        <p>
            <a class="btn btn-info" href="#" role="button">View Details</a> 
        </p>
    </div>
</div>
</section>       