<% provide(:title, "Home") %>
<h1><%#= yield(:title) %></h1>

<div class="container-fluid pb-4">
	<div class="row">
		<aside class="col-2 col-md-2 p-md-0 px-lg-3">
			<div class="accordion" id="asideNav">
				<div class="card">
					<div class="card-header bg-su-blue p-0" id="asideNavOne">
						<h2 class="mb-0">
							<button class="btn btn-block btn-primary text-left" type="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<i class="fas fa-list-ul"></i><span class="d-none d-md-inline"> Overview</span>
							</button>
						</h2>
					</div>
					<div class="collapse show" id="collapseOne" aria-labelledby="asideNavOne" data-parent="#asideNav">
						<div class="card-body p-0">
							<ul class="nav flex-column">
								<li class="nav-item border-bottom">
									<a class="nav-link" href="#">
										<i class="fas fa-home"></i><span class="d-none d-md-inline"> Housing</span>
									</a>
								</li>
								<li class="nav-item border-bottom">
									<a class="nav-link" href="#">
										<i class="fas fa-dollar-sign"></i><span class="d-none d-md-inline"> For Sale</span>
									</a>
								</li>
								<li class="nav-item border-bottom">
									<a class="nav-link" href="#">
										<i class="fas fa-user-check"></i><span class="d-none d-md-inline"> Jobs</span>
									</a>
								</li>
								<li class="nav-item border-bottom">
									<a class="nav-link" href="#">
										<i class="fas fa-hand-holding-heart"></i><span class="d-none d-md-inline"> Personals</span>
									</a>
								</li>
								<li class="nav-item border-bottom">
									<a class="nav-link" href="#">
										<i class="fas fa-handshake"></i><span class="d-none d-md-inline"> Campus Job</span>
									</a>
								</li>
								<li class="nav-item border-bottom">
									<a class="nav-link" href="#">
										<i class="fas fa-users"></i><span class="d-none d-md-inline"> Community</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">
										<i class="fas fa-user-friends"></i><span class="d-none d-md-inline"> Services</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!--  -->
				<div class="card">
					<div class="card-header bg-su-blue p-0" id="asideNavTwo">
						<h2 class="mb-0">
							<button class="btn btn-block btn-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								Category
							</button>
						</h2>
					</div>
					<div class="collapse" id="collapseTwo" aria-labelledby="asideNavTwo" data-parent="#asideNav">
						<div class="card-body">
							List of items
						</div>
					</div>
				</div>
			</div>
		</aside>
		<main class="col-10 col-md-10 p-md-0 px-lg-3">
			<div class="row">
				<!-- Main 1 start -->
				<div class="col-lg-6">
					<section class="jumbotron jumbotron-fluid">
					  <div class="container">
					    <h1 class="display-4">Welcome to <span class="su-text">SU<span class="squada">Post</span></span>!</h1>
					    <p class="lead">SUpost is a marketplace where Stanford students and staff buy and sell their stuff. Posting requires an @stanford.edu email so, you can be sure that all items posted on SUpost are from people affiliated with Stanford.</p>
					    <div class="d-flex ">
					    	<button class="btn btn-primary">Post something</button>
					    </div>
					  </div>
					</section>
					<!--  -->
					<section>
						<h2><i class="fas fa-user-check"></i> Featured Job Posts</h2>
						<div class="list-group list-group-flush">
						  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
						  	Software Engineer - Mobile - amira@structclub.com
						  	<span class="badge badge-primary badge-pill">3</span>
						  </a>
						  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
						  	Residential Staff AM/PM/ON - rbenage@camdentransitionalliving.com
						  	<span class="badge badge-primary badge-pill">1</span>
						  </a>
						  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
						  	Embedded Controls Engineer - careers@neweagle.net
						  	<span class="badge badge-primary badge-pill">5</span>
						  </a>
						  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
						  	Dating Coach for men - hr@livelongdoctor.com
						  	<span class="badge badge-primary badge-pill">7</span>
						  </a>
						  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
						  	Ruby on Rails developer - Remote - careers@supost.com
						  	<span class="badge badge-primary badge-pill">3</span>
						  </a>
						</div>
						<div class="d-block bg-gray mb-4">
							<a class="nav-link font-weight-bold" href="#">SEE MORE <i class="fas fa-chevron-right"></i></a>
						</div>
					</section>
					<!--  -->
					<section>
						<h2><i class="fas fa-couch"></i> For Sale</h2>
						<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-1 row-cols-xl-2">
						  <div class="col mb-4">
						    <div class="card h-100">
						      <%= image_tag("img4.jpg", class: "img-fluid") %>
						      <div class="card-body">
						        <h5 class="card-title">Louis Vuitton</h5>
						        <a class="badge badge-primary" href="#">Accessories</a>
						        <a class="badge badge-primary" href="#">Bags</a>
						      </div>
						      <div class="card-footer text-muted">
					        	25 mins ago
					        </div>
						    </div>
						  </div>
						  <!--  -->
						  <div class="col mb-4">
						    <div class="card h-100">
						      <%= image_tag("img5.jpg", class: "img-fluid") %>
						      <div class="card-body">
						        <h5 class="card-title">Support HK Tees</h5>
						        <a class="badge badge-primary" href="#">Shirts</a>
						        <a class="badge badge-primary" href="#">Clothing</a>
						      </div>
						      <div class="card-footer text-muted">
					        	29 mins ago
					        </div>
						    </div>
						  </div>
						  <!--  -->
						  <div class="col mb-4">
						    <div class="card h-100">
						      <%= image_tag("img6.jpg", class: "img-fluid") %>
						      <div class="card-body">
						        <h5 class="card-title">Guitar Art & Lutherie Cedar CW Antique Burst Folk</h5>
						        <a class="badge badge-primary" href="#">General</a>
						        <a class="badge badge-primary" href="#">For Sale</a>
						      </div>
						      <div class="card-footer text-muted">
					        	2 hours ago
					        </div>
						    </div>
						  </div>
						  <!--  -->
						  <div class="col mb-4">
						    <div class="card h-100">
						      <%= image_tag("img7.jpg", class: "img-fluid") %>
						      <div class="card-body">
						        <h5 class="card-title">Creamy white carpet (3'3'' by 4'7'')</h5>
						        <a class="badge badge-primary" href="#">Household items</a>
						        <a class="badge badge-primary" href="#">For Sale</a>
						      </div>
						      <div class="card-footer text-muted">
					        	1 day ago
					        </div>
						    </div>
						  </div>
						</div>
						<div class="d-block bg-gray mb-4">
							<a class="nav-link font-weight-bold" href="#">SEE MORE <i class="fas fa-chevron-right"></i></a>
						</div>
					</section>
				</div>
				<!-- Main 1 end -->
				<!-- Main 2 start -->
				<div class="col-lg-6">
					<section>
						<h2><i class="fas fa-home"></i> Housing</h2>
						<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-1 row-cols-xl-2">
						  <div class="col mb-4">
						    <div class="card h-100">
						      <%= image_tag("img1.jpg", class: "img-fluid") %>
						      <div class="card-body">
						        <h5 class="card-title">Private Room Close to Stanford Campus</h5>
						        <a class="badge badge-primary" href="#">Housing</a>
						        <a class="badge badge-primary" href="#">For Rent</a>
						      </div>
						      <div class="card-footer text-muted">
					        	1 hour ago
					        </div>
						    </div>
						  </div>
						  <!--  -->
						  <div class="col mb-4">
						    <div class="card h-100">
						      <%= image_tag("img2.jpg", class: "img-fluid") %>
						      <div class="card-body">
						        <h5 class="card-title">Private Room w/wo Private Bath, w Sunnyvale, by DeAnza and Apple Park</h5>
						        <a class="badge badge-primary" href="#">Shared</a>
						        <a class="badge badge-primary" href="#">For Rent</a>
						      </div>
						      <div class="card-footer text-muted">
					        	2 days ago
					        </div>
						    </div>
						  </div>
						  <!--  -->
						  <div class="col mb-4">
						    <div class="card h-100">
						      <%= image_tag("img3.jpg", class: "img-fluid") %>
						      <div class="card-body">
						        <h5 class="card-title">Short-Term Furnished Room in Central Mountain View</h5>
						        <a class="badge badge-primary" href="#">Room</a>
						        <a class="badge badge-primary" href="#">For Rent</a>
						        <a class="badge badge-primary" href="#">Furnished</a>
						      </div>
						      <div class="card-footer text-muted">
					        	2 days ago
					        </div>
						    </div>
						  </div>
						  <!--  -->
						  <div class="col mb-4">
						    <div class="card h-100">
						    	<svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">No Image Provided</text></svg>
						      <!-- <img src="..." class="card-img-top" alt="..."> -->
						      <div class="card-body">
						        <h5 class="card-title">a loft and a room at Faculty home for rent</h5>
						        <a class="badge badge-primary" href="#">Room</a>
						        <a class="badge badge-primary" href="#">For Rent</a>
						        <a class="badge badge-primary" href="#">Faculty</a>
						      </div>
						      <div class="card-footer text-muted">
					        	1 week ago
					        </div>
						    </div>
						  </div>
						</div>
						<div class="d-block bg-gray mb-4">
							<a class="nav-link font-weight-bold" href="#">SEE MORE <i class="fas fa-chevron-right"></i></a>
						</div>
					</section>
					<!--  -->
					<section>
						<h2><i class="fas fa-bell"></i> Recently Posted</h2>
						<ul class="list-group list-group-flush">
						  <li class="list-group-item">Cras justo odio</li>
						  <li class="list-group-item">Dapibus ac facilisis in</li>
						  <li class="list-group-item">Morbi leo risus</li>
						  <li class="list-group-item">Porta ac consectetur ac</li>
						  <li class="list-group-item">Vestibulum at eros</li>
						  <!--  -->
						  <li class="list-group-item">Cras justo odio</li>
						  <li class="list-group-item">Dapibus ac facilisis in</li>
						  <li class="list-group-item">Morbi leo risus</li>
						  <li class="list-group-item">Porta ac consectetur ac</li>
						  <li class="list-group-item">Vestibulum at eros</li>
						  <!--  -->
						  <li class="list-group-item">Cras justo odio</li>
						  <li class="list-group-item">Dapibus ac facilisis in</li>
						  <li class="list-group-item">Morbi leo risus</li>
						  <li class="list-group-item">Porta ac consectetur ac</li>
						  <li class="list-group-item">Vestibulum at eros</li>
						  <!--  -->
						  <!-- <li class="list-group-item">Cras justo odio</li>
						  <li class="list-group-item">Dapibus ac facilisis in</li>
						  <li class="list-group-item">Morbi leo risus</li>
						  <li class="list-group-item">Porta ac consectetur ac</li>
						  <li class="list-group-item">Vestibulum at eros</li> -->
						</ul>
						<div class="d-block bg-gray mb-4">
							<a class="nav-link font-weight-bold" href="#">SEE MORE <i class="fas fa-chevron-right"></i></a>
						</div>
					</section>
				</div>
				<!-- Main 2 end -->
				<div class="col-lg-12">
					<%#= render 'layouts/mansonry' %>
				</div>
			</div>
		</main>
	</div>
</div>