<% provide(:title, "Posts") %>

<section class="container py-4 mb-4">
	<h1><i class="fas fa-newspaper"></i> Posts</h1>
	<ul class="list-unstyled">
		<% @posts.each do |p| %>
			<li class="media border-bottom d-block d-md-flex py-2">
		    <%#= image_tag(p.feature_images[0], class: 'mr-3') if p.feature_images[0].present? %>

		    <% if p.feature_images[0].present? %>
		    	<%= image_tag(p.feature_images[0], class: 'align-self-center mx-auto d-block mr-md-3 img-fluid') %>
				<% else %>		    
					<svg class="bd-placeholder-img mr-3" width="112" height="112" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 64x64"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">No Image</text></svg>
		    <% end %>

		    <div class="media-body py-2">
		      <!-- <h5 class="h5 text-decoration-none mt-0 mb-1"><%#= p.title %></h5> -->
		      <%= link_to p.title, post_path(p.id), class: 'h5 text-decoration-none mt-0 mb-1' %>
		      <%= content_tag(:p, p.description.truncate(200, omission: ' ...')) %>
		      <%= link_to Type.find_by(id: p.type_id).name, "#", class: 'badge badge-primary' %>
		      <%= link_to Category.find_by(id: p.category_id).name, "#", class: 'badge badge-primary' %>
		    </div>
		  </li>
		<% end %>
	</ul>

	<nav aria-label="Page navigation example">
	  <ul class="pagination justify-content-center">
	    <li class="page-item disabled">
	      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
	    </li>
	    <li class="page-item"><a class="page-link" href="#">1</a></li>
	    <li class="page-item"><a class="page-link" href="#">2</a></li>
	    <li class="page-item"><a class="page-link" href="#">3</a></li>
	    <li class="page-item">
	      <a class="page-link" href="#">Next</a>
	    </li>
	  </ul>
	</nav>

	<ul class="list-unstyled">
		<li class="media position-relative my-2">
	    <svg class="bd-placeholder-img align-self-center mr-3" width="112" height="112" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 64x64"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">No Image</text></svg>
	    <div class="media-body border-bottom py-2">
	      <a href="#" class="h5 text-decoration-none mt-0 mb-1">List-based media object</a>
	      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
	      <a href="#" class="badge badge-primary">Type</a>
	      <a href="#" class="badge badge-primary">Category</a>
	    </div>
	  </li>

	  <li class="media my-2">
	    <svg class="bd-placeholder-img align-self-center mr-3" width="112" height="112" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 64x64"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">No Image</text></svg>
	    <div class="media-body border-bottom py-2">
	      <a href="#" class=""><h5 class="mt-0 mb-1">List-based media object</h5></a>
	      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
	      <a href="#" class="badge badge-primary">Type</a>
	      <a href="#" class="badge badge-primary">Category</a>
	    </div>
	  </li>
	</ul>

	<nav aria-label="Page navigation example">
	  <ul class="pagination justify-content-center">
	    <li class="page-item disabled">
	      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
	    </li>
	    <li class="page-item"><a class="page-link" href="#">1</a></li>
	    <li class="page-item"><a class="page-link" href="#">2</a></li>
	    <li class="page-item"><a class="page-link" href="#">3</a></li>
	    <li class="page-item">
	      <a class="page-link" href="#">Next</a>
	    </li>
	  </ul>
	</nav>
</section>