<%= link_to @post do %>
	<%#= @post.feature_images.each do |i| %>
  	<%= image_tag @post.feature_images[0] if @post.feature_images[0].present? %>
  	<%= image_tag @post.feature_images[1] if @post.feature_images[1].present? %>
  	<%= image_tag @post.feature_images[2] if @post.feature_images[2].present? %>
  	<%= image_tag @post.feature_images[3] if @post.feature_images[3].present? %>
  <%# end %>
  <%#= @post.feature_images.each { |e| puts e } %>
  <% @post.feature_images.each do |image| %>
  	<%= image_tag image %>
  <% end %>
<% end %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>

<section class="container">

</section>