<!-- <ul class="nav flex-column">
  <li class="nav-item">
    <%#= link_to "Home", root_path, class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <%#= link_to "About", about_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%#= link_to "Help", help_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%#= link_to "Contact", contact_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%#= link_to "Terms", terms_path, class: "nav-link" %>
  </li>
  <li class="nav-item bg-gray">
    <a class="nav-link text-muted" href="#">Register</a>
  </li>
  <li class="nav-item bg-gray">
    <a class="nav-link text-muted" href="#">Login</a>
  </li>
  <li class="nav-item bg-gray">
    <a class="nav-link disabled text-muted" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul> -->

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-su-blue">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <%= link_to "SUpost logo", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="mr-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Link</a> -->
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Link</a> -->
          <%= link_to "Help", help_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Link</a> -->
          <%= link_to "Contact", contact_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Link</a> -->
          <%= link_to "Terms", terms_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>