<ul class="nav flex-column">
  <li class="nav-item">
    <!-- <a class="nav-link active" href="#">Home</a> -->
    <%= link_to "Home", root_path, class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <!-- <a class="nav-link" href="#">About</a> -->
    <%= link_to "About", about_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <!-- <a class="nav-link" href="#">Help</a> -->
    <%= link_to "Help", help_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <!-- <a class="nav-link" href="#">Contact</a> -->
    <%= link_to "Contact", contact_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <!-- <a class="nav-link" href="#">Terms</a> -->
    <%= link_to "Terms", terms_path, class: "nav-link" %>
  </li>
  <li class="nav-item bg-gray">
    <a class="nav-link text-muted" href="#">Register</a>
  </li>
  <li class="nav-item bg-gray">
    <a class="nav-link text-muted" href="#">Login</a>
  </li>
  <li class="nav-item bg-gray">
    <a class="nav-link disabled text-muted" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>