<!-- Look for posts created within the last 24 hours -->
<%# @recent = Post.where({ :created_at => (24.hours.ago)..Time.now }) %>
<!-- Look for posts -->
<%# @housing = Post.where type_id: 3 AND created_at: (24.hours.ago)..Time.now %>
<%# @forsale = Post.where type_id: 1 %>
<%# @jobs = Post.where type_id: 8 %>
<%# @personals = Post.where type_id: 2 %>
<%# @campus = Post.where type_id: 7 %>
<%# @community = Post.where type_id: 5 %>
<%# @services = Post.where type_id: 6 %>

<div class="accordion position-absolute" id="asideNav">
	<!-- mb-3 to avoid hitting footer edge -->
	<div class="sticky mb-3">
	<div class="card" style="border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;">
		<div class="card-header bg-su-blue p-0" id="asideNavOne">
			<h2 class="mb-0">
				<button class="btn btn-block btn-primary text-center text-xl-left" type="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					<i class="fas fa-bars"></i><span class="d-none d-xl-inline"> Overview</span>
				</button>
			</h2>
		</div>
		<div class="collapse show" id="collapseOne" aria-labelledby="asideNavOne" data-parent="#asideNav">
			<div class="card-body p-0">
				<ul class="nav flex-column">
					<li class="nav-item border-bottom">
						<a class="nav-link d-flex align-items-center justify-content-center justify-content-md-between" href="/posts">
							<div>
								<i class="fas fa-exclamation"></i>
								<span class="d-none d-xl-inline"> Recent</span>
							</div>
							<% if Post.recent.any? %>
								<span class="badge badge-danger rounded-0 d-none d-md-inline px-2"><%= Post.recent.count %></span>
							<% end %>
						</a>
					</li>
					<li class="nav-item border-bottom">
						<a class="nav-link d-flex align-items-center justify-content-center justify-content-md-between" href="#">
							<div>
								<i class="fas fa-home"></i>
								<span class="d-none d-xl-inline"> Housing</span>
							</div>
							<% if Post.housing.recent.any? %>
								<span class="badge badge-danger rounded-0 d-none d-md-inline px-2"><%= Post.housing.recent.count %></span>
							<% end %>
						</a>
					</li>
					<li class="nav-item border-bottom">
						<a class="nav-link d-flex align-items-center justify-content-center justify-content-md-between" href="#">
							<div>
								<i class="fas fa-dollar-sign" mr-2></i><span class="d-none d-xl-inline"> For Sale</span>
							</div>
							<% if Post.forsale.recent.any? %>
								<span class="badge badge-danger rounded-0 d-none d-md-inline px-2"><%= Post.forsale.recent.count %></span>
							<% end %>
						</a>
					</li>
					<li class="nav-item border-bottom">
						<a class="nav-link d-flex align-items-center justify-content-center justify-content-md-between" href="#">
							<div>
								<i class="fas fa-user-check"></i><span class="d-none d-xl-inline"> Jobs</span>
							</div>
							<% if Post.jobs.recent.any? %>
								<span class="badge badge-danger rounded-0 d-none d-md-inline px-2"><%= Post.jobs.recent.count %></span>
							<% end %>
						</a>
					</li>
					<li class="nav-item border-bottom">
						<a class="nav-link d-flex align-items-center justify-content-center justify-content-md-between" href="#">
							<div>
								<i class="fas fa-hand-holding-heart"></i><span class="d-none d-xl-inline"> Personals</span>
							</div>
							<% if Post.personals.recent.any? %>
								<span class="badge badge-danger rounded-0 d-none d-md-inline px-2"><%= Post.personals.recent.count %></span>
							<% end %>
						</a>
					</li>
					<li class="nav-item border-bottom">
						<a class="nav-link d-flex align-items-center justify-content-center justify-content-md-between" href="#">
							<div>
								<i class="fas fa-handshake"></i><span class="d-none d-xl-inline"> Campus Job</span>
							</div>
							<% if Post.campus.recent.any? %>
								<span class="badge badge-danger rounded-0 d-none d-md-inline px-2"><%= Post.campus.recent.count %></span>
							<% end %>
						</a>
					</li>
					<li class="nav-item border-bottom">
						<a class="nav-link d-flex align-items-center justify-content-center justify-content-md-between" href="#">
							<div>
								<i class="fas fa-users"></i><span class="d-none d-xl-inline"> Community</span>
							</div>
							<% if Post.community.recent.any? %>
								<span class="badge badge-danger rounded-0 d-none d-md-inline px-2"><%= Post.community.recent.count %></span>
							<% end %>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link d-flex align-items-center justify-content-center justify-content-md-between" href="#">
							<div>
								<i class="fas fa-user-friends"></i><span class="d-none d-xl-inline"> Services</span>
							</div>
							<% if Post.services.recent.any? %>
								<span class="badge badge-danger rounded-0 d-none d-md-inline px-2"><%= Post.services.recent.count %></span>
							<% end %>
						</a>
					</li>
					<%#= Type.pluck('name').map {|t| {name: t}}.each do |m| %>
						<%#= m %>
					<%# end %>
					<% icon = Array.wrap(["home", "dollar-sign", "user-check", "hand-holding-heart", "handshake", "users", "user-friends"]) %>
					<% type = Type.pluck('name').reverse %>
					<% type[0] %>
					<% menu = Array.wrap([]) %>
					<% i = 0 %>
					<% while i < 6 do %>
						<% menu.push({icon: icon[i], type: type[i]}) %>
						<% i += 1 %>
					<% end %>
					<% icon[0] %>
					<%# Type.pluck('name').each do |m| %>
						<!-- <li class="nav-item border-bottom">
							<a class="nav-link d-flex align-items-center justify-content-center justify-content-md-between" href="/posts">
								<div>
									<%# while i < 6 do %>
									<i class="fas fa-<%#= icon[i] %>"></i>
									<%# i += 1 %>
									<%# end %>
									<span class="d-none d-xl-inline"> <%#= m %></span>
								</div>
								<%# if Post.recent.any? %>
									<span class="badge badge-danger rounded-0 d-none d-md-inline px-2"><%#= Post.recent.count %></span>
								<%# end %>
							</a>
						</li> -->
					<%# end %>
				</ul>
			</div>
		</div>
	</div>
	<!--  -->
	<!-- <div class="card">
		<div class="card-header bg-su-blue p-0" id="asideNavTwo">
			<h2 class="mb-0">
				<button class="btn btn-block btn-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					Category
				</button>
			</h2>
		</div>
		<div class="collapse" id="collapseTwo" aria-labelledby="asideNavTwo" data-parent="#asideNav">
			<div class="card-body">
				List of items
			</div>
		</div>
	</div> -->
	</div>
</div>