<!-- Look for posts created within the last 24 hours -->
<%# @recent = Post.where({ :created_at => (24.hours.ago)..Time.now }) %>
<!-- Look for posts -->
<%# @housing = Post.where type_id: 3 AND created_at: (24.hours.ago)..Time.now %>
<%# @forsale = Post.where type_id: 1 %>
<%# @jobs = Post.where type_id: 8 %>
<%# @personals = Post.where type_id: 2 %>
<%# @campus = Post.where type_id: 7 %>
<%# @community = Post.where type_id: 5 %>
<%# @services = Post.where type_id: 6 %>

<div class="accordion position-absolute" id="asideNav">
	<!-- mb-3 to avoid hitting footer edge -->
	<div class="sticky mb-3">
	<div class="card border-bottom-0" style="border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;">
		<div class="card-header bg-su-blue p-0" id="asideNavOne">
			<h2 class="mb-0">
				<button class="btn btn-block btn-primary text-center text-xl-left" type="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					<i class="fas fa-bars"></i><span class="d-none d-xl-inline"> Overview</span>
				</button>
			</h2>
		</div>
		<div class="collapse show" id="collapseOne" aria-labelledby="asideNavOne" data-parent="#asideNav">
			<div class="card-body p-0">
				<ul class="nav flex-column">
					<form action="/posts" method="get">
					<li class="nav-item border-bottom">
						<a class="nav-link d-flex align-items-center justify-content-center justify-content-md-between" href="/posts">
							<div>
								<i class="fas fa-exclamation"></i>
								<span class="d-none d-xl-inline"> Recent</span>
							</div>
							<% if Post.recent.any? %>
								<span class="badge badge-danger rounded-0 d-none d-md-inline px-2"><%= Post.recent.count %></span>
							<% end %>
						</a>
					</li>

					<!-- Sample of passing params like a query url -->
					<!-- url: /posts?paid=true -->
					<!-- <li class="nav-item border-bottom">
						<%#= link_to "Posts", posts_path(paid: true), class: "nav-link d-flex align-items-center justify-content-center justify-content-md-between" %>
					</li> -->

					<%#= Type.pluck('name').map {|t| {name: t}}.each do |m| %>
						<%#= m %>
					<%# end %>
					<%# type = Type.pluck('name').reverse %>
					<%# query = Array.wrap(["housing", "forsale", "jobs", "personals", "campus", "community", "services"]) %>
					<% icon = Array.wrap(["home", "dollar-sign", "user-check", "hand-holding-heart", "handshake", "users", "user-friends"]) %>
					<% type = Array.wrap(["Housing", "For Sale", "Jobs", "Personals", "Campus Job", "Community", "Services"]) %>
					<% id = Array.wrap([3, 1, 8, 2, 7, 5, 6]) %>
					<% query = Array.wrap([Post.housing.recent, Post.forsale.recent, Post.jobs.recent, Post.personals.recent, Post.campus.recent, Post.community.recent, Post.services.recent]) %>
					<% type[0] %>
					<% menu = Array.wrap([]) %>
					<% i = 0 %>
					<% while i < 6 do %>
						<% menu.push({id: id[i], icon: icon[i], type: type[i], query: query[i]}) %>
						<% i += 1 %>
					<% end %>
					<% menu %>
					<% icon[0] %>
					<% menu.each do |m| %>
						<li class="nav-item border-bottom">
							<a class="nav-link d-flex align-items-center justify-content-center justify-content-md-between" href="/posts?type=<%= m[:id] %>">
								<div>
									<i class="fas fa-<%= m[:icon] %>"></i>
									<span class="d-none d-xl-inline"> <%= m[:type] %></span>
								</div>
								<% if m[:query].any? %>
									<span class="badge badge-danger rounded-0 d-none d-md-inline px-2"><%= m[:query].count %></span>
								<% end %>
							</a>
						</li>
					<% end %>
					</form>
				</ul>
			</div>
		</div>
	</div>
	<!--  -->
	<!-- <div class="card">
		<div class="card-header bg-su-blue p-0" id="asideNavTwo">
			<h2 class="mb-0">
				<button class="btn btn-block btn-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					Category
				</button>
			</h2>
		</div>
		<div class="collapse" id="collapseTwo" aria-labelledby="asideNavTwo" data-parent="#asideNav">
			<div class="card-body">
				List of items
			</div>
		</div>
	</div> -->
	</div>
</div>