<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | SUpost</title>
    <meta name="viewport" content="initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Font-awesome -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap, JQuery, Popper plus custom overrides -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Squada+One&display=swap" rel="stylesheet">
    <!-- NOTE: Bootstrap and font-awesome as well as custom css or js files are added through yarn
        Please look in app/javascript/packs and app/javascript/stylesheets
     -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" /> -->
    
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    
    <%= favicon_link_tag("icon/apple-touch-icon.png", rel: "apple-touch-icon", sizes: "180x180") %>
    <%= favicon_link_tag("icon/favicon-32x32.png", rel: "icon", type: "image/x-icon", sizes: "32x32") %>
    <%= favicon_link_tag("icon/favicon-16x16.png", rel: "icon", type: "image/x-icon", sizes: "16x16") %>
    <%= favicon_link_tag("icon/site.webmanifest", rel: "manifest") %>
  </head>

  <body aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
    <!-- <div class="alert alert-info alert-dismissible fade show" role="alert">
      <%#= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%#= alert %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->

    
   
    <%= render 'layouts/header' %>
    <% unless current_page?(new_post_path) %>
      <% if params[:id].present? %>
        <!-- the if statement checks for /posts/:id -->
        <!-- do nothing -->
      <% else %>
        <%= render 'layouts/search' %>
      <% end %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
