<% provide(:title, 'Sign up') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 py-2 px-3">
      <%= link_to image_tag("logo.png", :height => "80px"), root_path, :class => "" %>
      <div class="container-signup d-flex align-items-center justify-content-center">
        <div class="">
          <h2 class="pb-4">Sign up</h2>
          <p class="pb-4">Get quick access to Stanford's Marketplace today.</p>
          <p class="pb-4"></p>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="form-row align-items-center">
              <div class="col">
                <label class="sr-only" for="firstname">First Name</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" id="firstname" placeholder="First Name" autofocus="">
                </div>
              </div>
              <div class="col">
                <label class="sr-only" for="surname">Surname</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" id="surname" placeholder="Surname">
                </div>
              </div>
            </div>
            <!--  -->
            <div class="form-row align-items-center">
              <div class="col">
                <label class="sr-only" for="email">Username</label>
                <div class="input-group mb-2">
                  <!-- <input type="text" class="form-control" id="email" placeholder="Stanford Email"> -->
                  <%= f.label :email, class: "sr-only" %>
                  <%= f.text_field :email, autocomplete: "email", placeholder: "Stanford Email", class: "form-control", id: "email" %>
                  <div class="input-group-append">
                    <div class="input-group-text">@stanford.edu</div>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="form-row align-items-center">
              <div class="col">
                <label class="sr-only" for="password">Password</label>
                <%= f.label :password, class: "sr-only" %>
                <div class="input-group mb-2">
                  <!-- <input type="password" class="form-control" id="password" placeholder="Password"> -->
                  <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control" %>
                </div>
                <!-- <span class="text-muted font-weight-lighter">Use 6 or more characters with a mix of letters, numbers & symbols</span> -->
              </div>
            </div>
            <!--  -->
            <div class="form-row align-items-center pb-4">
              <div class="col">
                <label class="sr-only" for="password">Password confirmation</label>
                <%= f.label :password_confirmation, class: "sr-only" %>
                <div class="input-group mb-2">
                  <!-- <input type="password" class="form-control" id="password" placeholder="Password"> -->
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password", class: "form-control" %>
                </div>
                <!-- <span class="text-muted font-weight-lighter">Use 6 or more characters with a mix of letters, numbers & symbols</span> -->
              </div>
            </div>
            <!--  -->
            <div class="form-check form-check-inline pb-4">
              <input class="form-check-input" type="checkbox" id="chkterms" value="1">
              <label class="form-check-label" for="chkterms">I accept the <%= link_to "Terms of Service", terms_path %></label>
              <%# if devise_mapping.rememberable? %>
                <%#= f.check_box :remember_me, class: "form-check-input" %>
                <%#= f.label :remember_me, class: "form-check-label" %>
              <%# end %>
            </div>
            <!--  -->
            <div class="form-row align-items-center">
              <div class="col">
                <!-- <button type="submit" class="btn btn-primary btn-block">Create my account</button> -->
                <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
              </div>
            </div>
          <% end %> <!-- form end -->
          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
    <div class="col-md-6 bg-su-blue">
      
    </div>
  </div>
</div>